<ion-content>
  <div id="container">
    <div id="beer-container" class="container">
      <div class="mug">
        <div class="beer"></div>
      </div>
      <div class="bubble"></div>
      <div class="small-bubbles"></div>
      <div class="drip"></div>
      <div class="beer-bg-circle"></div>
    </div>

    <div class="form">
      <form (ngSubmit)="login()" [formGroup]="loginForm">
        <ion-row>
          <ion-col>
            <ion-input type="text" placeholder="E-mail" formControlName="email" required class="inputFormOrange">
              <ion-icon name="person-outline"></ion-icon>
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input type="password" placeholder="Password" formControlName="password" required class="inputFormOrange">
              <ion-icon name="lock-closed-outline"></ion-icon>
            </ion-input>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col>
            <ion-button expand="block" type="submit" color="light" fill="solid">SIGN IN</ion-button>
          </ion-col>
        </ion-row>

        <div class="form-error">{{loginError}}</div>
      </form>
    </div>

    <div id="createAccount">
      <a [routerLink]="['/register']">Not a member? Create Account</a>
    </div>
  </div>
</ion-content>
