@import '../../../global.scss';

#container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background: $bg;
    align-items: center;
    flex-direction: column;
}

.form {
    width: 100vw;
}

.inputLogin {
    border: 1px solid white;
    border-radius: 20vw;
    font-family: sans-serif;
    color: white;
}

#createAccount {
    margin-bottom: 2vh;
}

#createAccount a {
    text-decoration: none;
    color: white;
}

.form-error {
    text-align: center;
}

ion-icon {
    margin-left: 5vw;
    margin-right: 3vw;
}