<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-list>
      <ion-list-header>
        <h1>Pedidos</h1>
      </ion-list-header>
      <div *ngIf="orders && orders.orders && orders.orders.length > 0; then avaible else not_avaible"></div>
      <ng-template #avaible>
        <div *ngFor="let order of orders.orders">
          <ion-item *ngFor="let beer of objectKeys(order)">
            <ion-label>
              {{beer}} x({{order[beer]}})
            </ion-label>
          </ion-item>
        </div>
      </ng-template>
      <ng-template #not_avaible>
        <div>Você não fez nenhum pedido.</div>
      </ng-template>
    </ion-list>
  </div>
</ion-content>
