<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card *ngFor="let beer of cervejas" class="beer-card">
      <ion-card-header>
        <ion-thumbnail>
          <ion-img [src]="beer.photoURL"></ion-img>
        </ion-thumbnail>
        <ion-card-subtitle>
          {{beer.name}}
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
