<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card *ngFor="let beer of cervejas" class="beer-card">
      <div class="thumbnail">
        <ion-thumbnail>
          <ion-img [src]="beer.photoURL"></ion-img>
        </ion-thumbnail>
      </div>
      <div class="description">
        <ion-card-subtitle>
          {{beer.name}}
        </ion-card-subtitle>
        <ion-card-subtitle>
          R$ {{beer.price}},00
        </ion-card-subtitle>
      </div>
      <div class="order-buttons">
        <ion-button size="small" color="danger" (click)="addToChart(beer.firstName)">+</ion-button>
        <ion-button size="small" color="danger" (click)="removeFromChart(beer.firstName)">-</ion-button>
      </div>
    </ion-card>
    <div class="chart">
      <label class="total_price">R$ {{shop.total_price}},00</label>
      <button class="btn_pedir" (click)="makeOrder()">Pedir</button>
    </div>
  </div>
</ion-content>
