@import '../../global.scss';

#container {
    position: absolute;
    width: 100%;
    background-color: $beer;
}

.beer-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px;
    height: 80px;
}

.description {
    margin-left: 10px;
}

.order-buttons {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: column;
}