@import '../../global.scss';

#container {
    position: absolute;
    width: 100%;
    background-color: $beer;
}

.beer-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px;
    height: 80px;
}

.description {
    margin-left: 10px;
}

.order-buttons {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.chart {
    position: fixed;
    bottom: 0;
    height: 5vh;
    width: 100%;
    background-color: red;
}

.total_price {
    font-size: 30px;
    margin-left: 10px;
    color: white;
}

.btn_pedir {
    position: absolute;
    right: 10px;
    height: 30px;
    top: 2px;
}